@model raupjc_projekt.Models.AlbumViewModels.AddAlbumViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Add album</title>
</head>
<body>
<h3>Add new album</h3>
<div>
    <form asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" placeholder="Your album name goes here (min. 3 letters)" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br/>
       
        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-primary" href="/Album/Index" role="button">Back</a>
    </form>
</div>
</body>
</html>