@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>InstaPound - your favorite web image gallery</h3>

<p>Only your imagination is the limit. <br/>
    Share photos with your friends, loved ones and total strangers!
</p>

<footer>
    <p>&copy; 2018 - Karlo Čeh</p>
</footer>
