@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<img src="@Url.Content("~/images/email-logo.png")" alt="EMail" height="100" width="100"/>
<p>Karlo Čeh</p>  
<address>
    <strong>GitHub:</strong> <a href="https://github.com/KCeh">Karlo Čeh</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:karlo.ceh@gmail.com">karlo.ceh@gmail.com</a>
</address>

<footer>
    <p>&copy; 2018 - Karlo Čeh</p>
</footer>
