@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>Karlo Čeh</p>  
<address>
    <strong>GitHub:</strong> <a href="https://github.com/KCeh">Karlo Čeh</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:karlo.ceh@gmail.com">karlo.ceh@gmail.com</a>
</address>
